/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

:root {
  --color--charcoalBlack: #27231F;
  --color--charcoalBlack-shadow: #1A1815;
  --color--snowMist: #F3F5F9;
  --color--snowMist-shadow: #D0D3DB;
  --color--peachCream: #FFF5EA;
  --color--peachCream-shadow: #EAD9C4;
  --color--crimsonPop: #ED155D;
  --color--crimsonPop-shadow: #A10D40;
  --color--goldenBeam: #FCC800;
  --color--goldenBeam-shadow: #B89000;
  --color--TangerineFlame: #FF6E29;
  --color--TangerineFlame-shadow: #B3471D;
}

html {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--color--goldenBeam);
  font-family: "Kiwi Maru", serif;
  color: #27231F
  ;
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--color-main);

  /* 追加 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logoImg {
  margin: 0 auto;
  max-width: 200px;
}

/* CSS */
