/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

:root {
  --color-main: #fcc800;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--color-main);
  font-family: "Kiwi Maru", serif;;
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--color-main);

  /* 追加 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logoImg {
  margin: 0 auto;
  max-width: 200px;
}

/* CSS */
.slider-container {
  width: 300px;
  margin: 20px;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 5px;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 5px;
}